<!-- LIVE -->
<script type="template" id="live-template-element">
<div id="live-element">
    <div class="icon ion-close change-page" data-page="dashboard/index" id="live-close"></div>

    <div class="live-navigation">
        <div class="icon ion-ios7-arrow-left live-change-direction" data-type="left"></div>
        <div class="icon ion-ios7-arrow-right live-change-direction" data-type="right"></div>
        <div class="icon ion-ios7-arrow-up live-change-direction" data-type="up"></div>
        <div class="icon ion-ios7-arrow-down live-change-direction" data-type="down"></div>
    </div>

</div>
</script>

<script type="text/javascript">

    /*
     * COMMANDES
     * 0: UP
     * 1: STOP
     * 2: DOWN
     * 4: GAUCHE
     * 6: DROITE
    */
    var liveTemplateElement = $('#live-template-element').html();
    var opts = {
        ip: "15221220.myvisioncam.org",
        user: "admin",
        pwd: ""
    };

    initCam(opts);

    $('body').prepend(liveTemplateElement);

    $('#live-element').css(
        'background', 'url("http://'+ opts['ip'] +'/videostream.cgi?user='+ opts['user'] +'&pwd='+ opts['pwd'] +'&resolution=32") #000 no-repeat'
    );

    $('body').on('click', '#live-close', function () {
        $('#live-element').remove();
    });

    $('body').on('click', '#live-element .live-change-direction', function() {
        var type = $(this).attr('data-type');
        writeCommand(type, opts);
        setTimeout(function() {writeCommand('stop', opts); }, 2000);
    });

    function writeCommand(type, opts)
    {
        var command = 1;

        switch (type) {
            case 'up':
                command = 0;
                break;
            case 'down': 
                command = 2;
                break;
            case 'left':
                command = 4;
                break;
            case 'right':
                command = 6;
                break;
        }

        $.ajax({
            url: 'http://'+ opts['ip'] +'/decoder_control.cgi?command='+ command +'&user='+ opts['user'] +'&pwd='+ opts['pwd']
        });
    }

    function initCam(opts)
    {
        $.ajax({
            url: 'http://'+ opts['ip'] +'/set_misc.cgi?led_mode=2&ptz_patrol_rate=10&ptz_auto_patrol_interval=0&Ptz_patrol_v_round=0&Ptz_patrol_h_round=0&user='+ opts['user'] +'&pwd='+ opts['pwd']
            });
    }
</script>