<!-- LIVE -->
<script type="template" id="live-template-element">
<div id="live-element">
    <div class="icon ion-close change-page" data-page="dashboard/index" id="live-close"></div>

    <div class="live-navigation">
        <div class="icon ion-ios7-arrow-left live-change-direction" data-type="left"></div>
        <div class="icon ion-ios7-arrow-right live-change-direction" data-type="right"></div>
        <div class="icon ion-ios7-arrow-up live-change-direction" data-type="up"></div>
        <div class="icon ion-ios7-arrow-down live-change-direction" data-type="down"></div>
    </div>

</div>
</script>

<script type="text/javascript" src="scripts/controllers/liveCtrl.js"></script>
<script type="text/javascript">
    var liveTemplateElement = $('#live-template-element').html();

    $('body').prepend(liveTemplateElement);

    $('#live-element').css(
        'background', 'url("http://'+ opts['ip'] +'/videostream.cgi?user='+ opts['user'] +'&pwd='+ opts['pwd'] +'&resolution=32") #000 no-repeat'
    );

    $('body').on('click', '#live-close', function () {
        $('#live-element').remove();
    });

    $('body').on('click', '#live-element .live-change-direction', function() {
        var type = $(this).attr('data-type');
        writeCommand(type, opts);
        setTimeout(function() {writeCommand('stop', opts); }, 2000);
    });
</script>