<script type="text/javascript">
    apiCtrl.request('/alerts', [], function (datas) {
        if (datas.error) {
            return false;
        }

        var template = $.get('views/dashboard/lists/alerts.html', function (result) {
            var template = Mustache.render(result, datas);
            $('#notifications .list').html(template);
        });
    });  
</script>

<!-- Notifications -->
<section id="notifications">
    <div class="list">
        <br>
        <center>Aucune notification</center>
    </div>
</section>