<!-- Notifications -->
<section id="notifications">
    <div class="list">
        <div class="item">
            <button class="delete delete-item">
                <span class="ion-close"></span>
            </button>
            
            <h3 class="notif">Erreur !</h3>
            Impossible d'accéder à Internet !
        </div>

        <div class="item">
            <button class="delete delete-item">
                <span class="ion-close"></span>
            </button>
            
            <h3 class="notif">Erreur !</h3>
            Impossible d'accéder à Internet !
        </div>

        <div class="item">
            <button class="delete delete-item">
                <span class="ion-close"></span>
            </button>
            
            <h3 class="notif">Erreur !</h3>
            Impossible d'accéder à Internet !
        </div>
    </div>
</section>