<div class="list">
    <h3 class="settings-title">Eclairage</h3>

    <div class="item item-settings">
        Allumer à 
        &nbsp;&nbsp;
        <select >
            <option value="6">06h</option>
            <option value="7">07h</option>
            <option value="8">08h</option>
            <option value="9">09h</option>
            <option value="10">10h</option>
            <option value="11">11h</option>
        </select>
    </div>

    <div class="item item-settings no-border">
        Eteindre à 
        &nbsp;
        <select >
            <option value="15">15h</option>
            <option value="16">16h</option>
            <option value="17">17h</option>
            <option value="18">18h</option>
            <option value="19">19h</option>
            <option value="20">20h</option>
            <option value="21">21h</option>
        </select>
    </div>

    <div class="item item-settings no-border">
        <center>
            <button class="btn green">Enregistrer les modifications</button>
        </center>
    </div>
</div>