<div class="list">
    <h3 class="settings-title">Eclairage</h3>

    <div class="item item-settings">
        Allumer à 
        &nbsp;&nbsp;
        <input class="number" value="07" type="number">h : <input class="number" value="00" type="number">m
        <button class="btn">Enregistrer</button>
    </div>
    <div class="item item-settings no-border">
        Eteindre à 
        &nbsp;
        <input class="number" value="18" type="number">h : <input class="number" value="00" type="number">m
        <button class="btn">Enregistrer</button>
    </div>
</div>