<script>

    /************/
    /** EVENTS **/
    /************/

    $('#modify-password').on('click', function () {
        var password = $('#new-password').val();

        $('#modify-password').hide();
        $('.loading').show();

        apiCtrl.request('/password', {
            method: "PUT",
            data: {
                password: password
            }
        }, function (rawDatas) {
            if (rawDatas.error) {
                $('.loading').hide();
                $('#modify-password').show();
                
                return false;
            }

            $('#new-password').val('');
            $('.loading').hide();
            $('#modify-password').show();
        });
    });

</script>
<div class="list">
    <h3 class="settings-title">Mot de passe</h3>

    <div class="item item-settings">
        <input class="mdp width" id="new-password" type="password">
    </div>

    <div class="item item-settings">
        <center>
            <button class="btn" id="modify-password">Enregistrer les modifications</button>
            <span class="ion-loading-c loading" style="font-size: 20px; display:none"></span>
        </center>
    </div>
</div>