<div class="list">
    <h3 class="settings-title">
        Emails
    </h3>

    <div class="item item-settings">
        <button class="btn red right">Supprimer</button>
        test@domain.com
    </div>
    <div class="item item-settings no-border">
        <button class="btn red right">Supprimer</button>
        test@domain.com
    </div>
    <div class="item item-settings no-border">
        <input placeholder="email@domain.com" class="mdp" type="email">
        &nbsp;
        <button class="btn">Ajouter l'email</button>
    </div>
</div>