<!-- Configurations -->
<div class="list">
    <div class="item change-page disp-back" data-page="dashboard/reglages-water">
        <span class="arrow ion-ios7-arrow-right"></span>
        <h3>Niveau d'eau</h3>
    </div>

    <!--- -->

    <div class="item change-page disp-back" data-page="dashboard/reglages-feed">
        <span class="arrow ion-ios7-arrow-right change-page" data-page="dashboard/reglages-feed"></span>
        <h3>Nourrissage</h3>
    </div>

    <!--- -->

    <div class="item change-page disp-back" data-page="dashboard/reglages-light">
        <span class="arrow ion-ios7-arrow-right"></span>
        <h3>Eclairage</h3>
    </div>

    <!--- -->

    <div class="item change-page disp-back" data-page="dashboard/reglages-emails">
        <span class="arrow ion-ios7-arrow-right"></span>
        <h3>Numéro de téléphone</h3>
    </div>

    <!--- -->

    <div class="item change-page disp-back" data-page="dashboard/reglages-password">
        <span class="arrow ion-ios7-arrow-right"></span>
        <h3>Mot de passe</h3>
    </div>
</div>