<div class="list">
    <h3 class="settings-title">
        Nourrissage
    </h3>

    <div class="item item-settings">
        <button class="btn red right">Supprimer</button>
        18h00
    </div>
    <div class="item item-settings no-border">
        <button class="btn red right">Supprimer</button>
        19h00
    </div>
    <div class="item item-settings no-border">
        <input type="number" class="number" placeholder="00">h00
        &nbsp;&nbsp;
        <button class="btn">Ajouter l'heure</button>
    </div>
</div>