<script>
    apiCtrl.request('/seuils', [], function (rawDatas) {
        if (rawDatas.error) {
            return false;
        }

        $('#new-water-level').val(rawDatas.seuil);
    });

    /************/
    /** EVENTS **/
    /************/

    $('#modify-water-level').on('click', function () {
        var seuil = $('#new-water-level').val();

        $('#modify-water-level').hide();
        $('.loading').show();

        apiCtrl.request('/seuils', {
            method: "POST",
            data: {
                seuil: seuil
            }
        }, function (rawDatas) {
            if (rawDatas.error) {
                notificationCtrl.add('water-no', 'Opération échouée', rawDatas.message);
                $('.loading').hide();
                $('#modify-water-level').show();
                
                return false;
            }

            notificationCtrl.add('water-ok', 'Opération réussie', rawDatas.message);
            $('.loading').hide();
            $('#modify-water-level').show();
        });
    });

</script>
<div class="list">
    <h3 class="settings-title">Niveau d'eau</h3>

    <div class="item item-settings no-border">
        <input type="tel" id="new-water-level" value=""> cm
    </div>

    <div class="item item-settings no-border">
        <center>
            <button class="btn green" id="modify-water-level">Enregistrer les modifications</button>
            <span class="ion-loading-c loading" style="font-size: 20px; display:none"></span>
        </center>
    </div>
</div>