button {
    outline: none;
}

.btn.icon {
    background: none;
    font-size: 30px;
    border: 0; 
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: #484a4c;
}

.btn {
    border: 0;
    color: #4db74d;
    border: solid 1px #4db74d;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    background: transparent;
}

.btn.blue {
    color: #3379b7;
    border: solid 1px #3379b7;
}

.btn.red {
    color: #bb0000;
    border: solid 1px #bb0000;
}

.btn.orange {
    color: #c0392b;
    border: solid 1px #c0392b;
}

.btn.flatgreen {
    color: #27ae60;
    border: solid 1px #27ae60;
}