.dashboard-list,
.list {
    width: 100%;
    overflow: auto;
    height: calc(100%);
    -webkit-overflow-scrolling:touch;
    overflow-scrolling:touch;
}

.dashboard-list .item,
.list .item {
    background: #fff;
    padding: 10px;
    border-bottom: solid 1px #f3f3f3;
    color: #8f8f8f;
}

.dashboard-list .item h2 {
    text-align: center;
    margin: 0;
    font-weight: 100;
}

.dashboard-list .item h3 {
    font-size: 60px;
    font-weight: 100;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.dashboard-list .item .icon {
    font-size: 60px;
    width: 50px;
    margin-right: 30px;
    margin-left: 10px;
    text-align: center;
}

.dashboard-list .item .icon.red {
    color: #db3f4d;
}

.dashboard-list .item .icon.yellow {
    color: #dbc543;
}

.dashboard-list .item .icon.blue {
    color: #6aade1;
}

.list .item {
    font-size: 12px;
    position: relative;
}

.list .item h3.notif {
    color: #891621;
}

.list .item h3 {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 5px;
    margin-top: 5px;
}

.list .item .delete {
    background: #c50006;
    color: white;
    border: 0;
    font-size: 17px;
    top: 0; right: 0;
    height: 100%;
    position: absolute;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.item.item-settings {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid 1px #f3f3f3;
    background: #fafafa;
    font-size: 13px;
}

.item-settings.no-border {
    border-top: 0;
}

.item-settings input {
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0;
    border-radius: 0;
    border: solid 1px #b7b7b7;
}

.item-settings input.number {
    width: 50px;
}

.item-settings input.mdp {
    width: 60%;
}

.item-settings .btn.right {
    margin-top: -5px;
}

.item {
    cursor: pointer;
}

.item .arrow {
    float: right;
    margin-right: 10px;
    margin-top: 3px;
    font-size: 30px;
}