[id=content] {
    position: fixed;
    z-index: 3;
    top: 0; bottom: 0;
    left: 0; right: 0;
    overflow: auto;
    width: 100%;
}

.transition {
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

[id=content].active,
[id=header].active {
    -webkit-transform: translate3D(80%, 0, 0);
    transform: translate3D(80%, 0, 0);
}

[id=header] {
    z-index: 3;
    position: fixed;
    width: 100%;
    background: #f8f8f8;
    right: 0; left: 0;
    top: 0;
    color: #484a4c;
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
    border-bottom: solid 1px #e4e9ea;
}

[id=back] {
    display: none;
}

[id=back].active {
    display: block;
}

.btn.icon.nav {
    margin-left: 10px;
}

.btn.icon.notif {
    margin-top: 2px;
    margin-right: 10px;
    font-size: 27px;
}

[id=hide-notif] {
    display: none;
}

[id=logo] {
    display: inline-block;
}

[id=nav] {
    -webkit-transform: translate3D(-100%, 0, 0);
    transform: translate3D(-100%, 0, 0);
    z-index: 2;
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0; bottom: 0;
    left: 0;
    background: #3d3e3d;
    padding-left: 20px;
}

[id=nav] h3 {
    font-weight: 100;
    font-size: 20px;
    color: #9a9a9a;
}

[id=nav] h3.active {
    font-size: 28px;
    font-weight: 100;
    color: #fcfffd;
}

[id=nav].active {
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
}

[id=notifications] {
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
    -webkit-overflow-scrolling:touch;
    overflow-scrolling:touch;
}

.logged-content {
    margin-top: 60px;
}

.settings-title {
    font-weight: 100;
    color: #bcbbc1;
    margin-left: 10px;
}

.settings-title .btn{
    margin-top: -1px;
}

.error {
    text-align: center;
    color: #767676;
    font-weight: 100;
}

.error h3 {
    font-weight: 100;
    font-size: 25px;
    color: #4c4c4c;
}

[id=live-element] {
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index:10
}

[id=live-close] {
    font-size: 25px;
    width: 30px; 
    height: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgba(255,255,255,0.5);
}

.live-navigation {
    position: absolute;
    right: 0px;
    bottom: 20px;
    height: 100px;
    width: 100px;
    color: rgba(255,255,255,0.5);
    font-size: 30px;
}

.live-change-direction {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
}

.live-change-direction[data-type=left] {
    left: 0;
    top: 34px;
}

.live-change-direction[data-type=right] {
    top: 34px;
    right: 0;
}

.live-change-direction[data-type=up] {
    top: 0;
    left: 31px;
}

.live-change-direction[data-type=down] {
    top: 70px;
    right: 38px;
}